.left-section img{
    padding-left: 50px;
    /* padding-top: 20px; */
    height: 55px;
    width:150px
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    background-color: whitesmoke;
    padding: 0 33px;
}
.left-section,
.right-section {
  display: flex;
  align-items: center;
}
.navbar  a {
    /* color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; */
    color: black;
  font-size: 1.2rem;
  margin-left: 20px;
  text-decoration: none !important;
  padding-left: 15px;
  }

  .navbar a:hover {
    text-decoration: underline black;
  }

Link{
    display: flex;
}

.right-section {
    display: flex;
    align-items: center;
  }
  
  /* Style for Search and Sign-in buttons */
  .searchButton,
  .signInButton {
    margin-left: 100px;
    font-size: 1rem;
    padding: 8px 12px;
    background-color: whitesmoke;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  .searchButton:hover,
  .signInButton:hover {
    background-color: #8a99a8;
  }
  .left-section {
    display: flex;
    align-items: center;
  }

  .left-section,
.right-section {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically for smaller screens */
    height: auto;
    padding: 10px;
  }
  .left-section,
  .right-section {
    margin-bottom: 10px; /* Add space between sections */
  }

  .searchButton,
  .signInButton {
    margin-left: 0; /* Reset margin for smaller screens */
    margin-top: 10px; /* Add space between buttons */
  }}

  button{
    border-radius: 10px;
  }